@charset "UTF-8";

html, body {
    font-family: 'Exo 2', Arial, serif;
    font-weight: 400;
}

h1 {
    font-family: 'Exo 2', Arial, serif;
    font-weight: 800;
    font-style: italic;
}

#container {
    padding: 100px 30px 0;
}

#room-list {
    text-align: center;
}

#room-list button {
    margin-top: 18px;
}