html, body {
    font-family: 'Exo 2', Arial, serif;
    font-weight: 400;
    color: #404040;
}

h1 {
    font-family: 'Exo 2', Arial, serif;
    font-weight: 800;
    font-style: italic;
}

.mui-appbar {
    background-color: transparent;
}

.mui-appbar h1 {
    margin: 0 0 0 15px;
}

.mui-appbar .appbar-ui {
    margin: 0 15px 0 0;
}

.mui-appbar a,
.mui-appbar a:active,
.mui-appbar a:hover,
.mui-appbar a:visited {
    color: rgba(0, 0, 0, .18);
}

.mui-appbar a:active, .mui-appbar a:hover {
    color: rgba(0, 0, 0, .25);
}

.mui-appbar .appbar-ui i {
    font-size: 32px;
}

/**
 * Footer
 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background: rgba(233, 233, 233, 0.8);
    overflow: hidden;
}

#post-form {
    position: relative;
}

#post-form > div {
    position: absolute;
    top: 0;
}

#post-form > div.post-input {
    left: 0;
    text-align: left;
    width: 100%;
    padding-right: 110px;
}

#post-form > div.post-button {
    right: 0;
    text-align: right;
}

/**
 * Timeline
 */
#posts {
    margin-bottom: 8.8rem;
}

#posts .each-post {
    padding: 0;
}

#posts .each-post p {
    padding: 0;
    margin: 0;
}

#posts .each-post > table {
    width: 100%;
}

#posts .each-post > table td {
    vertical-align: middle;
}

#posts .each-post > table td.handle {
    min-width: 40px;
}

#posts .each-post > table td.message {
    width: 100%;
    padding: 15px 0;
    min-height: 2rem;
}

#posts .timestamp {
    font-size: 88%;
    color: #AAA;
    text-align: right;
}