<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,800italic,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.1.18/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.1.18/js/mui.min.js"></script>

    <!-- My own style -->
    <link rel="stylesheet" href="/stylesheets/index.css">

    <title>Slant</title>
</head>
<body>

<div class="mui-container">
    <div id="container">
        <h1>Slant</h1>
        <p>Chose a chat room</p>
        <div id="room-list" class="mui-align-bottom">
            <form action="/" method="post" name="form1">
                <div class="mui-select">
                    <select name="name">
                        <option value="rakuda">Rakuda</option>
                        <option value="yagi">Yagi</option>
                        <option value="koushi">Koushi</option>
                    </select>
                </div>
                <button type="submit" class="mui-btn mui-btn-default mui-btn-raised">Enter</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>